* {
    padding:            0;
    margin:             0;
    box-sizing:         border-box;
    color:            white;
    overflow-y:         none;
    scrollbar-width:    none;
    font-family:        'Roboto Condensed', sans-serif;
    scroll-behavior:    smooth;
    text-align:         center;
    text-overflow:      ellipsis;
    /* animation: fadein 1s; */}



*::-webkit-scrollbar {display: none;}



form {
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    justify-content:    space-evenly;
    width:              100%;
    flex-wrap:          wrap;}



input, button, option, select {
    background-color: rgba(0, 0, 0, 0.51);
    width:              25%;
    padding-sides:      5rem;
    padding-top:        1rem;
    padding-bottom:     1rem;
    margin-top:         1.11rem;
    margin-bottom:      1.11rem;
    font-size:          xx-large;}



/* body {background-color: purple;} */



header {
    background-color: rgba(0, 0, 0, 0.51);
    width:              100vw;
    padding-top:        1rem;
    padding-bottom:     1rem;
    position:           -webkit-sticky;
    position:           sticky;
    top:                0;}



nav, article h1 {
    font-size:      xx-large;
    text-transform: uppercase;
    text-align:     left;}



header nav a {
    padding:    2px;
    transition: padding 2s;}



h2 {margin-bottom: -1rem !important;}



a {text-decoration: none;}



header nav a:hover {
    transition: color 2s;
    transition: padding 0.5s;
    padding:    30px;}



main {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    space-evenly;
    width:              100%;
    flex-wrap:          wrap;}



#articlegrad {
    background: linear-gradient(transparent, #E2082D);
}

article {
    width:                  100%;
    background-color:       #E2082D;
    padding:                1rem;}



main div {
    width:              20%;
    min-width:          15rem;
    min-height:         27rem;
    height:             fit-content;
    margin:             1rem;
    padding:            1rem;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius:      5px;
    text-transform:     capitalize;}



footer {
    background-color:   black;
    padding:            3px;}



main div img {
    width:          75%;
    height:         auto;
    border-radius:  5px;
    margin-top:     5px;}



.onzichtbaar {display: none;}



#logo {
    width:      20%;
    height:     auto;
    animation:  fadein 1s;}

#n1 {
    text-align:     left;
    display:        flex;
    flex-direction: row;}

#n1 h1 {
    margin-top:     1.5rem;
    margin-left:    3rem;}



.prlx1, .prlx2, .prlx3 {
    background-color:       black;
    background-attachment:  fixed;
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        cover;}

.prlx1 {
    background-image: url("../img/prlx1.png") !important;
    min-height: 30rem;}

.prlx2 {
    background-image: url("../img/prlx2.png") !important;
    min-height: 40rem;}    

.prlx3 {
    background-image: url("../img/prlx3.png") !important;
    min-height: 40rem;}



/* animaties -------------------------------------------*/
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}}