* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    overflow-y: none;
    scrollbar-width: none;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
    text-align: center;
    animation: fadein 1s;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: gray;
}

header {
    background-color: rgba(0, 0, 0, 0.51);
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav {
    font-size: xx-large;
}

header nav a {
    padding: 2px;
    transition: padding 2s;
}

h2 {
    margin-bottom: -1rem !important;
}

a {
    text-decoration: none;
}

header nav a:hover {
    transition: color 2s;
    transition: padding 0.5s;
    padding: 30px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

main div {
    width: 20%;
    min-height: 50vh;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 5px;
    text-transform: capitalize;
}

footer {
    background-color: rgba(0, 0, 0, 0.51);
    padding: 3px;
}

main div img {
    width: 75%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
}


/* animaties -------------------------------------------*/
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }